.modal{
    width : 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
  
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    flex: 1;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #f3f3f4;

  }
.modal-top{
  height: 10%;
}
.title{
  color: #0e0e52;
  text-align: center;
}

.modal-bottom{
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #78c0e0;

  margin: 5%;


}

.modal-data{
  width : 60%;
  height: 100%;
}

ul{
  text-align: left;
}

.list-item{
  color: #f3f3f4;
  padding: 10px;
  font-size: 20px;
}

.modal-buttons{
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.btn-modal-close{
  width: 4%;
  height: 25%;
  border-radius: 50%;
  
  position: absolute;
  top: 19px;
  right: 10px;
}

.btn-modal-upd{
  width: 80%;
  height: 32px;


  margin-bottom: 12px;
  margin-right: 55px;
}

.btn-modal-del{
  width: 80%;
  height: 32px;

  margin-top: 12px;
  margin-right: 55px;

}